@import '../../color';
@import '../../base';

.Cover {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  &__Img {
    width: 100%;
    display: block;
    margin: 30px 0;
  }

  &__Message {
    width: 100%;
    margin-bottom: 20px;
  }
}

.Branches {
  $img-branches: ($bp-small / 2) * 0.05;
  @mixin img-branch-top-offset {
    position: relative;
    top: 4px;
  }
  width: 100%;
  margin: 0 auto;
  max-width: $bp-small / 2;
  &__Selector {
    &-Input {
      margin-bottom: 22px;
      img {
        display: inline-block;
        width: $img-branches;
        margin-right: 10px;
        @include img-branch-top-offset;
      }
      select {
        display: inline-block;
        width: ($bp-small / 2) * 0.9;
        max-height: 40px;
        background-color: white;
        padding: 8px;
        border: none;
        font-weight: bold;
        font-size: 15px;
        border-radius: 10px;
        font-family: 'Biryani', sans-serif;
      }
    }
    &-Output {
      width: 100%;
      margin-bottom: 40px;
      img {
        display: inline-block;
        width: $img-branches;
        @include img-branch-top-offset;
        &:first-child {
          margin-right: 10px;
          transform: rotate(125deg);
        }
      }
      span {
        display: inline-block;
        width: ($bp-small / 2) * 0.8;
        padding: 8px;
        border: none;
        font-weight: bold;
        font-size: 15px;
        border-bottom: 1px solid #2755a3;
        margin-right: 10px;
      }
    }
  }
}
