@import '../../color';

.Cover {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: {
    top: 120px;
  };
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  &__Img {
    width: 100%;
    margin: 30px 0;
  }

  &__Message {
    width: 100%;
    margin-bottom: 20px;
  }
}

.Branches {
  width: 100%;
  &__Selector {
    &-Input {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 40px;
      img {
        width: 20px;
        margin-right: 10px;
      }
      select {
        width: 70%;
        padding: 8px;
        border: none;
        font-weight: bold;
        font-size: 15px;
        border-radius: 10px;
        font-family: 'Biryani', sans-serif;
      }
    }
    &-Output {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 40px;
      img {
        width: 25px;
        &:first-child {
          margin-right: 10px;
        }
      }
      span {
        width: 60%;
        padding: 8px;
        border: none;
        font-weight: bold;
        font-size: 15px;
        border-bottom: 1px solid #2755a3;
        margin-right: 10px;
      }
    }
  }
}