.Intro {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 100;
  animation-name: fadeOut;
  animation-duration: 2s;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__Img {
    max-width: 60%;
    display: block;
  }
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}