@import '../../color';

.Footer {
  height: 500px;
  background-color: #183464;
  color: white;
  padding-top: 60px;
  position: absolute;
  left: 0;
  right: 0;

  &__Container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

  &__Logo {
    min-width: 200px;
    max-width: 200px;
    margin: 0px auto;
    display: block;
    margin-bottom: 20px;
  }

  h4 {
    font-weight: bold;
    font-size: 10px;
    text-align: center;
  }

  &__Links {
    ul {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 30px auto;
      line-height: 25px;
      li {
        font-size: 15px;
        text-decoration: underline;
      }
    }
  }

  &__SocialMedia {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    img {
      width: 40px;
      height: 40px;
    }
  }

  &__PrivacyPolicy {
    position: absolute;
    bottom: 42px;
    display: block;
    width: 100%;
    text-align: center;
  }
}