$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-x-large: 1200px; 

@mixin flex-mixin {
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;  
}