$primary-dark: #010305;
$secondary-dark: #0f203d;

$primary-dark-blue: #152d57;
$secondary-dark-blue: #183464;

$primary-blue: #2755a3;
$secondary-blue: #3776e3;

$primary-dark-gray: #404040;
$secondary-dark-gray: #7f7f7f;

$primary-gray: #bfbfbf;
$secondary-gray: #e5e5e5;

$primary-white: #ffffff;
