@import './color';

.App{
  overflow: hidden;
}

.Site {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  animation-name: fadeIn;
  animation-duration: 0.7s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.Primary-Title {
  font-size: 40px;
  font-weight: bold;
  color: $primary-blue;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  line-height: 60px;
}

.Secondary-Title {
  font-size: 30px;
  font-weight: bold;
  color: $primary-blue;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  line-height: 60px;
}

.Subtitle {
  color: $secondary-dark-blue;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.Description {
  font-size: 15px;
  color: $secondary-dark-blue;
  padding: 10px;
  text-align: center;
  line-height: 32px;
}