@import '../../color';

.BackNav {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  
  a {
    text-decoration: none;
    color: $secondary-blue;
    transition: all 0.4s;
    &:active {
      color: $secondary-blue;
    }
    &:hover {
      color: $primary-blue;
    }
  }
}